div.help-wrap{
    padding-top:15px;
    display:flex;
    width:940px;
    margin:0 auto;
}
.help-wrap nav{
    width:200px;
    min-height:200px;
    line-height:2;
    border:1px solid #eee;
}
.help-wrap nav h1{
    font-size:16px;
    color:#fff;
    font-weight:normal;
    text-align:center;
    background-color:#FF9065;
}
.help-wrap>div.rt-main{
    padding:20px;
    line-height:2;
    width:640px;
}
.help-wrap ul>li{
    font-size:14px;
    color:#333;
    text-align:center;
    background-color:#eee;
    border-bottom:1px solid #eee;
}
.help-wrap ul>li>a{
    display:inline-block;
    width:100%;
    height:100%;
    background-color:#fff;
}
div.rt-main{
    font-size:15px;
}

#deliver-intro table{
    border:1px solid #ddd;
    border-collapse:collapse;
}
#deliver-intro td{border:1px solid #ddd;}
.hidden{display:none}
.show{
    display:block;
}
.help-wrap ul>li.active{
    font-weight:bold;
    background-color:pink;
}